name: EAS Builds
on:
    push:
        branches: [main]

jobs:
    eas-build:
        name: Trigger EAS build for development-sim
        timeout-minutes: 15
        runs-on: ubuntu-latest
        steps:
            - name: Setup repository
              uses: actions/checkout@v3
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18.x
                  cache: npm

            - name: Setup EAS
              uses: expo/expo-github-action@v8
              with:
                  eas-version: latest
                  token: ${{ secrets.EXPO_TOKEN }}

            - name: Install dependencies
              run: npm install
              working-directory: ./timerFront

            - name: Print Current Working Directory
              run: pwd
              working-directory: ./timerFront

            - name: List Files in Directory
              run: ls
              working-directory: ./timerFront

            - name: List Files with dc
              run: |
                  ls
                  echo "cd timerFront"
                  cd timerFront
                  pwd
                  ls

            - name: Print Custom Message
              run: echo "msg, Starting the EAS build process"

            - name: Send build request
              run: eas build --platform all --non-interactive --no-wait --profile development-sim
              shell: bash
              working-directory: ./timerFront
