name: EAS Builds
on:
    push:
        branches: [main]

jobs:
    eas-build:
        name: Trigger EAS build for development-sim
        timeout-minutes: 15
        runs-on: ubuntu-latest
        steps:
            - name: Setup repository
              uses: actions/checkout@v3
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18.x
                  cache: yarn

            - name: Setup EAS
              uses: expo/expo-github-action@v8
              with:
                  eas-version: latest
                  token: ${{ secrets.EXPO_TOKEN }}

            - name: Install dependencies
              run: yarn install
              working-directory: ./timerFront

            - name: Send build request
              run: eas build --platform all --non-interactive --no-wait --profile development-sim
              shell: bash
              working-directory: ./timerFront
